<nav class="navBar">
  <ul class="navUl">
    <img class="logo" src="../img/snip.png" alt="">
    <hr class="navHr">
    <li id="navCreate"><a href="/create/">+</a></li>
    <li><a href="/feed">Feed</a></li>
    <li><a href="/authors">Authors</a></li>
    <li>
      <form class="navSearch" action="/feed" method="POST">
        <input type="text" name="searchInput" placeholder="Search">
      </form>
    </li>
    <hr class="navHr2">
    <li id="navLogout"><a href="/logout">Logout</a></li>
    <hr class="navHr2">
  </ul>
</nav>
