<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login To Snippets</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <nav class="loginNav">
      <h3 class="welcomeH3">Welcome To RoboDex</h3>
    </nav>
    <main class="loginMain">
      <h3 class="newUserH3">Log In</h3>
      <form class="loginForm" action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="loginSubmit" type="submit" name="loginSubmit">Login</button>
      </form>
      <a class="createUserLink" href="/newuser">Create Account</a>
    </main>
  </body>
</html>
