<!DOCTYPE html>
<html>
  <head>
    <title>Login To Snippets</title>
    {{>_header}}
  </head>
  <body class="loginBody">

    <main class="loginMain">
      <h3 class="newUserH3">Log In</h3>
      <form class="loginForm" action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="loginSubmit" type="submit" name="loginSubmit">Login</button>
      </form>
      <a class="createUserLink" href="/signup">Create Account</a>
    </main>
  </body>
</html>
